{% extends 'base.html' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Oops!
                </div>
            </div>    
            <div style="padding-top:30px" class="panel-body">
                There was aproblem activating your bookstore account. Contact us at <a href="mailto:support@sirdesmondbookstore.com">support@sirdesmondbookstore.com</a>
            </div>
        </div>
    </div>
{% endblock %}