{% extends 'bootstrap3/bootstrap3.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% load compress %}

{% bootstrap_styles theme='simplex' type='min.css'  %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    {% compress css %}  
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css'  %}">
    {% endcompress %}
{% endblock %}


{% block bootstrap3_title %}
    {% block title %} 
        Welcome to sirdesmond Bookstore 
    {% endblock %}
{% endblock %}


{% block bootstrap3_content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'store' %}" class="navbar-brand">Sirdesmond Bookstore</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="hvr-curl-top-right"><a href="{% url 'store' %}">Home</a></li>
                <li class="hvr-curl-top-right"><a href="#about">About</a></li>
                <li class="hvr-curl-top-right"><a href="#contact">Contact</a></li>
            </ul>
            <div class="navbar-form pull-right">
                {% if request.user.is_authenticated %}
                    Welcome, {% if request.user.first_name %}
                    {{ request.user.first_name }}
                    {% else %}
                    {{ request.user.username }}
                    {% endif %}! <a href="{% url 'auth_logout' %}">Log out</a>
                {% else %}
                    Welcome, Mysterious person!
                    <a href="{% url 'auth_login' %}">Log in</a>
                    Click to <a href="{% url 'registration_register' %}">Sign up</a> 
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <img src="{% static 'base/img/header_full.jpg' %}" alt="Header image" class="bg">
    <div class="paralax">
        <div class="row">
            {% block body %}
                <div class="col-md-8 col-md-offset-2 col-sn-12 maincontent" >
                    Welcome to our store!
                    {% if count == 0 %}
                    We have no books in store for now, but we have a whole lot of information you could grab on our platform. Do ensure you check out our page for latest books coming soon! <br>
                    {% elif count == 1 %}
                    We have {{ count }} book in store
                    {% else %}
                    We have {{ count }} books in store
                    {% endif %}
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos fugit doloribus distinctio placeat voluptatum impedit. Quam architecto reiciendis incidunt quis assumenda veniam vero officiis. Sint ratione consequuntur illum quae voluptatem. <br>
                    User location: {{ request.session.location }} 
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
</div>

<div class="row text-center navbar footer">
    <div class="col-md-12">
        <p> Sirdesmond Bookstore &copy;2019 </p>
    </div>
</div>

