<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
    <h1>Welcome to our Bookstore</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita obcaecati rerum libero assumenda reiciendis quis optio. Repudiandae distinctio consequuntur eveniet, adipisci ullam incidunt impedit aspernatur doloremque. Quaerat ut hic autem.</p>
</body>
</html>