<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h4>
            Welcome, {% if request.user.first_name %}
            {{ request.user.first_name }}
            {% else %}
            {{ request.user.username }}
            {% endif %}! <a href="{% url 'auth_logout' %}">Log out</a>
        </h4>
    {%else%}
        <h4>
           Welcome, Mysterious person!
           Would you like to <a href="{% url 'auth_login' %}">Log in?</a> 
        </h4>
    {% endif %}
    <h3>This is our store!</h3>
    <p>We have {{ count }} books in store</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos fugit doloribus distinctio placeat voluptatum impedit. Quam architecto reiciendis incidunt quis assumenda veniam vero officiis. Sint ratione consequuntur illum quae voluptatem.</p>
    <p>User location: {{ request.session.location }} </p>
</body>
</html>